<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Santosh Jha">
  <title>Form</title>
  <link rel="stylesheet" href="{% static 'css/addcountry.css'%}">
</head>
<body>
  <div class="container">
       <form action="/savecountry/" method="post" enctype="multipart/form-data">{%csrf_token%}
          <input type="text" placeholder="country" id="country" name="country"><br>
          <input type="text" placeholder="status" id="status" name="status"><br>
          <input type="submit" value="save">
       </form>
  </div>
</body>
</html>