<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Santosh Jha">
  <title>Form</title>
  <link rel="stylesheet" href="{% static 'css/addcountry.css'%}">
</head>
<body>
  <div class="container">
       <form action="/savedelivery/" method="post" enctype="multipart/form-data">{%csrf_token%}
          <input type="text" placeholder="name" id="name" name="name" required><br>
          <input type="number" placeholder="mobile" id="mobile" name="mobile" required><br>
          <input type="text" placeholder="vehicle" id="vehicle" name="vehicle" required><br>
           <input type="text" placeholder="vehicle_number" id="vehicle_number" name="vehicle_number" required><br>
          <input type="submit" value="save">
           <a href="/delivery/">Back</a>
       </form>
  </div>
</body>
</html>